.eachBox {
    display: 'flex';
    flex-direction: row;
    gap: 20px;
    width: 30vw;
}

.card-background {
    background-color: #362e2b;
}

.background {
    background-color: rgb(185, 175, 175);
}

.text {
    color: white;
}

.shadow:hover {
    box-shadow: 4px 10px rgb(181, 229, 241);
}