
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color: #353740;
    font-family:"Montserrat";
    font-size: 20px;
    font-weight: 700;
    min-height: 100vh;
}

.columns{
    padding: 100px;
}
.box{
  background-color: #363636;  
  border-radius: 20px;
}

.label{
    font-size: 20px;
    font-weight: 700;
}

.button{
    font-family:"Montserrat"; 
    font-weight: 900;
    font-size: 20px;
    border-radius: 15px;
}
