
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color:  white;
    font-family:"Montserrat";
    font-size: 20px;
    font-weight: 700;
}
.columns{
    padding: 100px;
}
.box{
  background-color: rgba(46,64,82,0.3);  
  border-radius: 20px;
}

.label{
    font-size: 20px;
    font-weight: 700;
}

.button{
    font-family:"Montserrat"; 
    font-weight: 900;
    font-size: 20px;
    border-radius: 15px;
}
